@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Style prédefini */
*{
    margin: 0;
    padding: 0;

}

/* Style de la police d'écriture */
body {
    font-family: "Josefin Sans", sans-serif;
}

.slider{
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    background: black;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);

}

.slider-content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    color: white;
}

.slider-content p{
    color: white;
}

.section{
    padding: 100px 0;
}

.boxed{
    max-width: 1280px;
    margin-inline: auto;
}

.flex{
    display: flex;
}

.dark{
    background: url(../img/damascussteel.gif);
    background-size: cover;
    color: white;
}

.text-center{
    text-align: center;
}

.skill{
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.skill img{
    aspect-ratio: 1/1;
    object-fit: contain;
}

.space-between{
    justify-content: space-between;
}

.realisation{
    height: auto;
    aspect-ratio: 1/1;
}

.realisation a{
    display: block;
    width: 100%;
    height: 100%;
}

.realisation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
    transition:.4s ease;
}

.realisation:hover img{
    filter: brightness(40%);
    background: rgba(231, 229, 229, 0.427);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.7);
}

.header-logo{
    display: block;
}

.header-logo img{
    width: 200px;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

header.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.aligncenter{
    align-items: center;
}

.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.header-menu li a{
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
}

.header-menu li a:hover{
    background: rgba(231, 229, 229, 0.427); 
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
}

@media(max-width:810px){
    header{
        display: none;
    }

    .h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .slider{
        height: 50vh;
    }

    .slider-content{
        width: 100%;
    }

    .slider-content p{
        margin-top: 20px;
        font-size: 1.5rem;
        text-wrap: balance;
    }

    .slider-content h1{
        font-size: 2.5rem;
    }

    .p{
        font-size: 1rem;
    }

    .toColumn{
        flex-direction: column;
    }

    .wm100{
        width: 100% !important;
    }

    .section{
        padding:50px 0;
    }

    .boxed{
        max-width: 90%;
    }
}