@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Style prédefini */
*{
    margin: 0;
    padding: 0;

}

/* Style de la police d'écriture */
body{
    font-family: "Exo 2", sans-serif;
   /* font-optical-sizing: auto;
    font-weight:<weight>;
    font-weight: <weight>;
    font-style: normal;
    */
}

.slider{
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    background: black;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slider-content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
